<!-- search modal -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="widget widget_search">
        <form method="get" class="searchform search-form" action="/">
            <div class="form-group">
                <input type="text" value="" name="search" class="form-control" placeholder="Search keyword"
                    id="modal-search-input">
            </div>
            <button type="submit"></button>
        </form>
    </div>
</div>

<!-- Unyson messages modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
    <div class="fw-messages-wrap ls p-normal">
        <!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
        <!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
		-->

    </div>
</div><!-- eof .modal -->

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
    <div id="box_wrapper">

        <!-- template sections -->

        <section class="page_toplogo ls s-pt-45 s-pb-40 d-none d-lg-block">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="">
                            <a href="./" class="logo">
                                {{!-- <img src="images/logo.png" alt="img"> --}}
                                <h3>The Canine Club of Chicago</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex justify-content-center">
                            <div class="media header-media">
                                <div class="media-body">
                                    <h4>
                                        email us
                                    </h4>
                                    <p>
                                        <a href="mailto:team@techmade.co">team@techmade.co</a>
                                    </p>
                                </div>
                            </div>

                            <div class="media header-media">
                                <div class="media-body">
                                    <h4>
                                        working hours
                                    </h4>
                                    <p>
                                        7AM - 10PM
                                    </p>
                                </div>
                            </div>

                            <div class="media header-media">
                                <div class="media-body">
                                    <h4>
                                        call us
                                    </h4>
                                    <p>
                                        <a href="tel:630-407-7258">630-407-7258</a>
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3 text-right">
                        <a href="/contact" class="btn btn-maincolor">Book Now</a>
                    </div>

                </div>
            </div>
        </section>
        <!--eof topline-->
        <!-- header with two Bootstrap columns - left for logo and right for navigation and includes (search, social icons, additional links and buttons etc -->
        <header class="page_header ls bg-maincolor4 main-style">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="nav-wrap header-main">
                            <a href="./" class="logo logo-ds">
                                {{!-- <img src="images/logo_ds.png" alt="img"> --}}
                                <h5>The Canine Club of Chicago</h5>
                            </a>
                            <!-- main nav start -->
                            <nav class="top-nav">
                                <ul class="nav sf-menu">

                                    <!-- sof pages -->
                                    <li class="active">
                                        <a href="/">Home</a>
                                    </li>

                                    <li>
                                        <a>About</a>
                                        <ul>
                                            <li>
                                                <a href="/facility">Locations</a>
                                            </li>
                                            <li>
                                                <a href="/mission">Our Mission</a>
                                            </li>
                                            <li>
                                                <a href="/team">Our Team</a>
                                            </li>
                                            <li>
                                                <a href="/faq">FAQ</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a>Training</a>
                                        <ul>
                                            <li>
                                                <a href="/bootcamp">Dog Training Camp</a>
                                            </li>
                                            <li>
                                                <a href="/aggressioncamp">Aggression Training</a>
                                            </li>
                                            <li>
                                                <a href="/privatelesson">Private Dog Training</a>
                                            </li>
                                            <li>
                                                <a href="/privatelessonbundle">Private Training Bundle</a>
                                            </li>
                                            <li>
                                                <a href="/servicedogtraining">Service Dog Training</a>
                                            </li>
                                            <li>
                                                <a href="/therapydogtraining">Therapy Dog Training</a>
                                            </li>
                                            <li>
                                                <a href="/protectiondogtraining">Protection Dog Training</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="/boarding">Boarding</a>
                                    </li>

                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>

                                    <!-- eof pages -->


                                </ul>


                            </nav>
                            <!-- eof main nav -->
                            <ul class="top-includes d-none d-xl-block">
                                <li>
                                    <span class="social-icons">

                                        <a target="_onblank"
                                            href="https://www.google.com/maps/place/The+Canine+Club+of+Chicago/@41.8913906,-87.6169857,17z/data=!3m1!4b1!4m12!1m6!3m5!1s0x880fadc9773b6a33:0xc8dfb571099cf7a7!2sThe+Canine+Club+of+Chicago!8m2!3d41.8913906!4d-87.6147917!3m4!1s0x880fadc9773b6a33:0xc8dfb571099cf7a7!8m2!3d41.8913906!4d-87.6147917"
                                            class="fa fa-google border-icon rounded-icon color-icon" title="google"></a>
                                        <a target="_onblank" href="https://www.facebook.com/TheCanineClubofChicago/"
                                            target="_onblank" href="https://www.facebook.com/TheCanineClubofChicago/"
                                            class="fa fa-facebook border-icon rounded-icon color-icon"
                                            title="facebook"></a>
                                        <a target="_onblank" href="https://www.instagram.com/thecanineclubofchicago/"
                                            class="fa fa-instagram border-icon rounded-icon color-icon"
                                            title="instagram"></a>

                                    </span>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- header toggler -->
            <span class="toggle_menu"><span></span></span>
        </header>

        <section class="page_title ls  s-py-5">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 text-center">
                        <h1>Boarding Programs</h1>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="./">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Pages</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Boarding
                            </li>
                        </ol>
                    </div>

                </div>
            </div>
        </section>

        <section class="ls s-py-60 s-py-md-90 s-py-xl-160 c-gutter-60 c-mb-40 service">
            <div class="container">
                <div class="row">


                    <div class="col-md-6">
                        <article class="type-event status-publish format-standard has-post-thumbnail">
                            <div class="item-media post-thumbnail">
                                <img src="images/dog20.jpg" alt="img">
                            </div>


                            <div class="item-content box-shadow">
                                <!-- .post-thumbnail -->

                                <!-- .entry-header -->

                                <div class="entry-content ">
                                    <h4>Overnight Boarding $60</h4>

                                    <p>
                                        Indoor day care & boarding is available during the day and overnight. Dogs who
                                        board with us will get to socialize with other dogs in play groups.
                                    </p>

                                    <p>
                                        Dogs receive multiple walks throughout the day and remain on a regular feeding
                                        schedule. Every member of our team is an experienced dog trainer and will
                                        properly hold all dogs accountable for their actions; meaning we won't let your
                                        dogs get away with any bad habits such as leash pulling, excessive barking,
                                        jumping, etc. We understand how important it is to be consistent with training
                                        at all times, so we will uphold any known training appropriately.
                                    </p>

                                    <p>
                                        During the initial consultation, please let us know if your dog needs any
                                        special accommodations or treatment. Boarding is charged at a single daily fee.
                                        We offer pick-up and drop off services at an additional fee varying by distance,
                                        for pricing details and other inquiries, please contact us.
                                    </p>

                                    <div class="col-lg-3 text-right">
                                        <a href="/contact" class="btn btn-maincolor">book now</a>
                                    </div>

                                </div>
                                <!-- .entry-content -->

                            </div>
                            <!-- .item-content -->
                        </article>

                        <div class="mt--40 hidden-below-md"></div>
                    </div>
                    <div class="col-md-6">
                        <article class="type-event status-publish format-standard has-post-thumbnail">
                            <div class="item-media post-thumbnail">
                                <img src="images/dog22.jpg" alt="img">
                            </div>


                            <div class="item-content box-shadow">
                                <!-- .post-thumbnail -->

                                <!-- .entry-header -->


                                <div class="entry-content ">
                                    <h4>Daycare $25 <span style="color: rgba(240, 59, 59, 0.981)">(Currently
                                            Unavailable)</span></h4>

                                    <p>
                                        Sometimes it's hard to leave your pet alone all day while you're at work. If you
                                        find that to be the case, why not drop your dog off with us on your way to work
                                        and pick him or her up afterwards? That's right, we offer a dog day care
                                        service. You can drop off your dog after 6:30 AM on weekdays and pick him or her
                                        up again anytime before 6:30 PM. Your dog will get to have access to go outside
                                        all day (weather permitting) as well as get to enjoy playtime with us!
                                    </p>

                                    <div class="col-lg-3 text-right">
                                        <a href="/contact" class="btn btn-maincolor">book now</a>
                                    </div>

                                </div>
                                <!-- .entry-content -->

                            </div>
                            <!-- .item-content -->
                        </article>

                        <div class="mt--40 hidden-below-md"></div>
                    </div>

                </div>
            </div>
        </section>

        <footer
            class="page_footer ds s-pb-35 s-pt-60 s-pb-md-70 s-pt-md-90 s-pb-xl-130 s-pt-xl-160 c-mb-20 c-gutter-30 container-px-0">

            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-lg-left animate" data-animation="fadeInUp">

                        <div class="widget widget_icons_list">
                            <h3 class="widget-title">Our Contact Info</h3>

                            <ul class="mb-10">
                                <li class="icon-inline">
                                    <div class="icon-styled icon-top color-main4 fs-14">
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <a href="#">team@techmade.co</a>
                                </li>
                                <li class="icon-inline">
                                    <div class="icon-styled icon-top color-main4 fs-14">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                    <p>(630) 407 7258</p>
                                </li>
                                <li class="icon-inline">
                                    <div class="icon-styled icon-top color-main4 fs-14">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <p>Working hours: 7:00AM - 10:00PM </p>
                                </li>
                            </ul>

                            <span class="social-icons">
                                <a target="_onblank"
                                    href="https://www.google.com/maps/place/The+Canine+Club+of+Chicago/@41.8913906,-87.6169857,17z/data=!3m1!4b1!4m12!1m6!3m5!1s0x880fadc9773b6a33:0xc8dfb571099cf7a7!2sThe+Canine+Club+of+Chicago!8m2!3d41.8913906!4d-87.6147917!3m4!1s0x880fadc9773b6a33:0xc8dfb571099cf7a7!8m2!3d41.8913906!4d-87.6147917"
                                    class="fa fa-google rounded-icon color-bg-icon footer-icon" title="google"></a>
                                <a target="_onblank" href="https://www.facebook.com/TheCanineClubofChicago/"
                                    class="fa fa-facebook rounded-icon color-bg-icon footer-icon" title="facebook"></a>
                                <a target="_onblank" href="https://www.instagram.com/thecanineclubofchicago/"
                                    class="fa fa-instagram rounded-icon color-bg-icon footer-icon"
                                    title="instagram"></a>
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-6 text-center text-lg-left animate" data-animation="fadeInUp">
                        <div class="widget mb-0">

                            <h3 class="widget-title">Newsletter</h3>

                            <p class="color-font mb-3">
                                Subscribe to our newsletter to be updated on deals and promotions!
                            </p>

                            <form class="signup" action="/">

                                <input id="mailchimp_email" name="email" type="email"
                                    class="form-control mailchimp_email text-center text-lg-left"
                                    placeholder="Enter Email Address">

                                <button type="submit" class="btn btn-maincolor mt-30">
                                    Subscribe
                                </button>
                                <div class="response"></div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <section class="page_copyright ds s-py-5">
            <div class="container border-top-color">
                <div class="row align-items-center ">
                    <div class="divider-20 d-none d-lg-block"></div>
                    <div class="divider-10 d-none d-md-block d-lg-none"></div>
                    <div class="col-md-12 text-center">
                        <p>&copy; Copyright <span class="copyright_year">2018</span> All Rights Reserved</p>
                    </div>
                    <div class="divider-20 d-none d-lg-block"></div>
                    <div class="divider-10 d-none d-md-block d-lg-none"></div>
                </div>
            </div>
        </section>


    </div><!-- eof #box_wrapper -->
</div><!-- eof #canvas -->