<div class="preloader">
  <div class="preloader_image pulse"></div>
</div>

<!-- Unyson messages modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
  <div class="fw-messages-wrap ls p-normal">
    <!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
    <!--
    <ul class="list-unstyled">
        <li>Message To User</li>
    </ul>
    -->

  </div>
</div><!-- eof .modal -->

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas">
  <div id="box_wrapper">

    <!-- template sections -->


    <section class="page_toplogo ls s-pt-45 s-pb-40 d-none d-lg-block">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-3">
            <div class="">
              <a href="./" class="logo">
                {{!-- <img src="images/logo.png" alt="img"> --}}
                <h3>The Canine Club of Chicago</h3>
              </a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="d-flex justify-content-center">
              <div class="media header-media">
                <div class="media-body">
                  <h4>
                    email us
                  </h4>
                  <p>
                    <a href="mailto:info@canineclubchicago.com">info@canineclubchicago.com</a>
                  </p>
                </div>
              </div>

              <div class="media header-media">
                <div class="media-body">
                  <h4>
                    working hours
                  </h4>
                  <p>
                    7AM - 10PM
                  </p>
                </div>
              </div>

              <div class="media header-media">
                <div class="media-body">
                  <h4>
                    call us
                  </h4>
                  <p>
                    <a href="tel:630-999-5222">630-999-5222</a>
                  </p>
                </div>
              </div>


            </div>
          </div>
          <div class="col-lg-3 text-right">
            <a href="/contact" class="btn btn-maincolor">Book Now</a>
          </div>

        </div>
      </div>
    </section>

    <header class="page_header ls bg-maincolor4 main-style">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-xl-12">
            <div class="nav-wrap header-main">
              <a href="./" class="logo logo-ds">
                {{!-- <img src="images/logo_ds.png" alt="img"> --}}
                <h5>The Canine Club of Chicago</h5>
              </a>
              <!-- main nav start -->
              <nav class="top-nav">
                <ul class="nav sf-menu">

                  <!-- sof pages -->
                  <li>
                    <a href="/">Home</a>
                  </li>

                  <li>
                    <a>About</a>
                    <ul>
                      <li>
                        <a href="/facility">Locations</a>
                      </li>
                      <li>
                        <a href="/mission">Our Mission</a>
                      </li>
                      <li>
                        <a href="/team">Our Team</a>
                      </li>
                      <li>
                        <a href="/faq">FAQ</a>
                      </li>
                    </ul>
                  </li>

                  <li>
                    <a>Training</a>
                    <ul>
                      <li>
                        <a href="/bootcamp">Dog Training Camp</a>
                      </li>
                      <li>
                        <a href="/aggressioncamp">Aggression Training</a>
                      </li>
                      <li>
                        <a href="/privatelesson">Private Dog Training</a>
                      </li>
                      <li>
                        <a href="/privatelessonbundle">Private Training Bundle</a>
                      </li>
                      <li>
                        <a href="/servicedogtraining">Service Dog Training</a>
                      </li>
                      <li>
                        <a href="/therapydogtraining">Therapy Dog Training</a>
                      </li>
                      <li>
                        <a href="/protectiondogtraining">Protection Dog Training</a>
                      </li>
                    </ul>
                  </li>

                  <li>
                    <a href="/boarding">Boarding</a>
                  </li>

                  <li class="active">
                    <a href="/contact">Contact</a>
                  </li>

                  <!-- eof pages -->


                </ul>


              </nav>
              <!-- eof main nav -->
              <ul class="top-includes d-none d-xl-block">
                <li>

                  <span class="social-icons">

                    <a target="_onblank"
                      href="https://www.google.com/maps/place/The+Canine+Club+of+Chicago/@41.8913906,-87.6169857,17z/data=!3m1!4b1!4m12!1m6!3m5!1s0x880fadc9773b6a33:0xc8dfb571099cf7a7!2sThe+Canine+Club+of+Chicago!8m2!3d41.8913906!4d-87.6147917!3m4!1s0x880fadc9773b6a33:0xc8dfb571099cf7a7!8m2!3d41.8913906!4d-87.6147917"
                      class="fa fa-google border-icon rounded-icon color-icon" title="google"></a>
                    <a target="_onblank" href="https://www.facebook.com/TheCanineClubofChicago/" target="_onblank"
                      href="https://www.facebook.com/TheCanineClubofChicago/"
                      class="fa fa-facebook border-icon rounded-icon color-icon" title="facebook"></a>
                    <a target="_onblank" href="https://www.instagram.com/thecanineclubofchicago/"
                      class="fa fa-instagram border-icon rounded-icon color-icon" title="instagram"></a>

                  </span>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <!-- header toggler -->
      <span class="toggle_menu"><span></span></span>
    </header>

    <section class="page_title ls  s-py-5">
      <div class="container">
        <div class="row">

          <div class="col-md-12 text-center">
            <h1>Contact</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="./">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Pages</a>
              </li>
              <li class="breadcrumb-item active">
                Contact
              </li>
            </ol>
          </div>

        </div>
      </div>
    </section>

    <section class="ls s-py-60 s-py-md-90 s-py-xl-160 c-mb-20">
      <div class="container">

        <div class="row c-mb-30">
          <div class="col-lg-4 animate" data-animation="pullDown">
            <div class="icon-box text-center">
              <div class="icon-styled bg-maincolor4 round fs-80 mb-30">
                <i class="fa fa-mobile-phone"></i>
              </div>
              <h4>Call Us</h4>
              <p class="color-darkgrey">
                <strong>Team:</strong> +1 (630) 999 5 222<br>
              </p>
              <div class="mt--20"></div>
              {{!-- <p class="color-darkgrey">
                                <strong>Support:</strong> 0 (800) 123 456
                            </p> --}}
            </div>
          </div>

          <div class="col-lg-4 animate" data-animation="pullDown">
            <div class="icon-box text-center">
              <div class="icon-styled bg-maincolor round fs-80 mb-30">
                <i class="fa fa-pencil"></i>
              </div>
              <h4>Write Us</h4>
              <div class="mt-2"></div>
              <a href="mailto:info@canineclubchicago.com">info@canineclubchicago.com</a><br>
            </div>
          </div>

          <div class="col-lg-4 animate" data-animation="pullDown">
            <div class="icon-box text-center">
              <div class="icon-styled bg-green round fs-80 mb-30">
                <i class="fa fa-map-marker"></i>
              </div>
              <h4>Visit Us</h4>
              <p class="color-darkgrey">
                500 N Lake Shore Dr.
              </p>
              <div class="mt--20"></div>
              <p class="color-darkgrey">
                Chicago, IL 60611
              </p>
            </div>
          </div>
        </div>

        <div class="mt-120 hidden-below-xl"></div>
        <div class="mt-60 hidden-below-md d-xl-none"></div>
        <div class="mt-30"></div>

        <div class="row">

          <div class="col-lg-12 animate mb-0" data-animation="scaleAppear">

            <form class="contact-form c-mb-lg-20 c-mb-10 c-gutter-20" method="POST" action="/contact">

              <div class="row">

                <div class="col-xl-6">
                  <div class="form-group has-placeholder">
                    <label for="name">Your Name<span class="required">*</span></label>
                    <input type="text" id="name" aria-required="true" size="30" value="" name="name" id="name"
                      class="form-control text-center" placeholder="Your Name">
                  </div>
                </div>

                <div class="col-xl-6">
                  <div class="form-group has-placeholder">
                    <label for="phone">Your Phone<span class="required">*</span></label>
                    <input type="text" id="phone" aria-required="true" size="30" value="" name="phone" id="phone"
                      class="form-control text-center" placeholder="Your Phone">
                  </div>
                </div>

                <div class="col-xl-6">
                  <div class="form-group has-placeholder">
                    <label for="email">Email address<span class="required">*</span></label>
                    <input type="email" id='email' aria-required="true" size="30" value="" name="email" id="email"
                      class="form-control text-center" placeholder="Email Address">
                  </div>
                </div>

                <div class="col-xl-6">
                  <div class="form-group has-placeholder">
                    <label for="subject">Your subject<span class="required">*</span></label>
                    <input type="text" id="subject" aria-required="true" size="30" value="" name="subject" id="subject"
                      class="form-control text-center" placeholder="Your subject">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group has-placeholder">
                    <label for="message">Your Message</label>
                    <textarea id="message" aria-required="true" rows="6" cols="45" name="message" id="message"
                      class="form-control text-center" placeholder="Your Message"></textarea>
                  </div>
                </div>

              </div>
              <div class="row mt-15">
                <div class="divider-20 hidden-above-lg"></div>
                <div class="col-sm-12 text-center">
                  <div class="form-group buttons-group">
                    <button type="button" id="contact_form_submit" name="contact_submit" class="btn btn-maincolor">Send
                      Message</button>
                    {{!-- <p>Thanks for contacting us. Someone will be with your shortly.</p> --}}
                  </div>
                </div>

              </div>

            </form>

          </div>
          <!--.col-* -->
          <div id='mapHere'>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.0681893301444!2d-87.61698038416152!3d41.89139057922106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fadc9773b6a33%3A0xc8dfb571099cf7a7!2sThe%20Canine%20Club%20of%20Chicago!5e0!3m2!1sen!2sus!4v1579472273149!5m2!1sen!2sus"
              width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </section>

    <footer
      class="page_footer ds s-pb-35 s-pt-60 s-pb-md-70 s-pt-md-90 s-pb-xl-130 s-pt-xl-160 c-mb-20 c-gutter-30 container-px-0">

      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-center text-lg-left animate" data-animation="fadeInUp">

            <div class="widget widget_icons_list">
              <h3 class="widget-title">Our Contact Info</h3>

              <ul class="mb-10">
                <li class="icon-inline">
                  <div class="icon-styled icon-top color-main4 fs-14">
                    <i class="fa fa-map-marker"></i>
                  </div>
                  <p>500 N Lake Shore Dr. Chicago 60611</p>
                </li>
                <li class="icon-inline">
                  <div class="icon-styled icon-top color-main4 fs-14">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <a href="#">info@canineclubchicago.com</a>
                </li>
                <li class="icon-inline">
                  <div class="icon-styled icon-top color-main4 fs-14">
                    <i class="fa fa-phone"></i>
                  </div>
                  <p>(630) 999 5222</p>
                </li>
                <li class="icon-inline">
                  <div class="icon-styled icon-top color-main4 fs-14">
                    <i class="fa fa-clock-o"></i>
                  </div>
                  <p>Working hours: 7:00AM - 10:00PM </p>
                </li>
              </ul>

              <span class="social-icons">
                <a href="#" class="fa fa-google  rounded-icon color-bg-icon footer-icon" title="google"></a>
                <a href="#" class="fa fa-facebook  rounded-icon color-bg-icon footer-icon" title="facebook"></a>
                <a href="#" class="fa fa-instagram  rounded-icon color-bg-icon footer-icon" title="instagram"></a>
              </span>
            </div>
          </div>

          <div class="col-lg-6 text-center text-lg-left animate" data-animation="fadeInUp">
            <div class="widget mb-0">

              <h3 class="widget-title">Newsletter</h3>

              <p class="color-font mb-3">
                Subscribe to our newsletter to be updated on deals and promotions!
              </p>

              <form method="POST" action="/join">

                <input name="email" type="email" id='newsletterEmail'
                  class="form-control mailchimp_email text-center text-lg-left" placeholder="Enter Email Address">

                <button type="button" id='joinNewsLetterBtn' class="btn btn-maincolor mt-30">
                  Subscribe
                </button>
                <div class="response"></div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </footer>

    <section class="page_copyright ds s-py-5">
      <div class="container border-top-color">
        <div class="row align-items-center ">
          <div class="divider-20 d-none d-lg-block"></div>
          <div class="divider-10 d-none d-md-block d-lg-none"></div>
          <div class="col-md-12 text-center">
            <p>&copy; Copyright <span class="copyright_year">2018</span> All Rights Reserved</p>
          </div>
          <div class="divider-20 d-none d-lg-block"></div>
          <div class="divider-10 d-none d-md-block d-lg-none"></div>
        </div>
      </div>
    </section>


  </div><!-- eof #box_wrapper -->
</div><!-- eof #canvas -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>
  document.getElementById("contact_form_submit").addEventListener("click", function (event) {
    const name = document.getElementById('name').value;
    const phone = document.getElementById('phone').value;
    const email = document.getElementById('email').value;
    const subject = document.getElementById('subject').value;
    const message = document.getElementById('message').value;
    axios.post('/contact', {
      name: name,
      phone: phone,
      email: email,
      subject: subject,
      message: message
    }).then(res => {
      $("#contact_form_submit").html('Contacted!');
      $("#contact_form_submit").prop("disabled", true);
    }).catch(error => {
      console.error(error);
      $("#contact_form_submit").html('Something Went Wrong!');
    });
  });
  document.getElementById("joinNewsLetterBtn").addEventListener("click", function (event) {
    const email = document.getElementById('newsletterEmail').value;
    axios.post('/contact', {
      email: email,
    }).then(res => {
      $("#joinNewsLetterBtn").html('Joined!');
      $("#joinNewsLetterBtn").prop("disabled", true);
    }).catch(error => {
      console.error(error);
      $("#joinNewsLetterBtn").html('Something Went Wrong!');
    });
  });
</script>