<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<title>Venator</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/animations.css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" href="css/main.css" class="color-switcher-link">
	<script src="js/vendor/modernizr-custom.js"></script>

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->

</head>

<body>
	<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="color-main">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->

	<div class="preloader">
		<div class="preloader_image pulse"></div>
	</div>

	<!-- search modal -->
	<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="widget widget_search">
			<form method="get" class="searchform search-form" action="/">
				<div class="form-group">
					<input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
				</div>
				<button type="submit"></button>
			</form>
		</div>
	</div>

	<!-- Unyson messages modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
		<div class="fw-messages-wrap ls p-normal">
			<!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
			<!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
		-->

		</div>
	</div><!-- eof .modal -->

	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">

			<!-- template sections -->
        <section class="page_toplogo ls s-pt-45 s-pb-40 d-none d-lg-block">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="">
                            <a href="./" class="logo">
                                {{!-- <img src="images/logo.png" alt="img"> --}}
                                <h3>The Canine Club of Chicago</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex justify-content-center">
                            <div class="media header-media">
                                <div class="media-body">
                                    <h4>
                                        email us
                                    </h4>
                                    <p>
                                        <a href="mailto:team@techmade.co">team@techmade.co</a>
                                    </p>
                                </div>
                            </div>

                            <div class="media header-media">
                                <div class="media-body">
                                    <h4>
                                        working hours
                                    </h4>
                                    <p>
                                        7AM - 10PM
                                    </p>
                                </div>
                            </div>

                            <div class="media header-media">
                                <div class="media-body">
                                    <h4>
                                        call us
                                    </h4>
                                    <p>
                                        <a href="tel:630-407-7258">630-407-7258</a>
                                    </p>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-lg-3 text-right">
                        <a href="/contact" class="btn btn-maincolor">Book Now</a>
                    </div>

                </div>
            </div>
        </section>
        <!--eof topline-->
        <!-- header with two Bootstrap columns - left for logo and right for navigation and includes (search, social icons, additional links and buttons etc -->
        <header class="page_header ls bg-maincolor4 main-style">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-12">
                        <div class="nav-wrap header-main">
                            <a href="./" class="logo logo-ds">
                                {{!-- <img src="images/logo_ds.png" alt="img"> --}}
                                <h5>The Canine Club of Chicago</h5>
                            </a>
                            <!-- main nav start -->
                            <nav class="top-nav">
                                <ul class="nav sf-menu">

                                    <!-- sof pages -->
                                    <li class="active">
                                        <a href="/">Home</a>
                                    </li>

                                    <li>
                                        <a>About</a>
                                        <ul>
                                            <li>
                                                <a href="/facility">Our Facility</a>
                                            </li>
                                            <li>
                                                <a href="/mission">Our Mission</a>
                                            </li>
                                            <li>
                                                <a href="/team">Our Team</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a>Training</a>
                                        <ul>
                                            <li>
                                                <a href="/bootcamp">Boot Camp</a>
                                            </li>
                                            <li>
                                                <a href="/aggressioncamp">Aggression Camp</a>
                                            </li>
                                            <li>
                                                <a href="/privatelesson">Private Lesson</a>
                                            </li>
                                            <li>
                                                <a href="/privatelessonbundle">Private Lesson Bundle</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="/boarding">Boarding</a>
                                    </li>

                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>

                                    <!-- eof pages -->


                                </ul>


                            </nav>
                            <!-- eof main nav -->
                            <ul class="top-includes d-none d-xl-block">
                                <li>
                                    <span class="social-icons">

                                        <a href="#" class="fa fa-google border-icon rounded-icon color-icon" title="google"></a>
                                        <a href="#" class="fa fa-facebook border-icon rounded-icon color-icon" title="facebook"></a>
                                        <a href="#" class="fa fa-instagram border-icon rounded-icon color-icon" title="instagram"></a>

                                    </span>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- header toggler -->
            <span class="toggle_menu"><span></span></span>
        </header>


			<section class="page_title ls  s-py-5">
				<div class="container">
					<div class="row">

						<div class="col-md-12 text-center">
							<h1>Our Mission</h1>
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="./">Home</a>
								</li>
								<li class="breadcrumb-item">
									<a href="#">About</a>
								</li>
								<li class="breadcrumb-item active">
									<a href="/mission">Our Mission</a>
								</li>
							</ol>
						</div>

					</div>
				</div>
			</section>


			<section class="ls s-py-60 s-py-md-90  s-py-xl-160 c-gutter-60">
				<div class="container">
					<div class="row">

						<main class="col-lg-8">
							<article class="vertical-item box-shadow post type-post status-publish format-standard has-post-thumbnail">

								<!-- .post-thumbnail -->
								<div class="item-media post-thumbnail">
									<img src="images/dogs12.jpg" alt="img">
									{{!-- <p class="item-meta d-flex flex-wrap">
										<a><i class="fa fa-tags color-main"></i>Our Mission</a>
									</p> --}}
								</div>


								<div class="item-content">

									<div class="entry-content">
										<h4 class="text-normal">
											Who We Are.
										</h4>
										<p>
											The Canine Club of Chicago is a professional dog training company, our mission to improve the lives of dogs and their owners across the world. We work with all breeds of any age or size. Using balanced training methods, we specialize in our 4 Week Training Program for Obedience Training, Aggression Training, Behavior Modification and Puppy Training. Every dog is different in various ways, after working with thousands of dogs over the years we have seen it all and done it all. We work directly with you and your pup to ensure we address all of your dog training needs and concerns. 
										</p>

										<p>
											We develop a unique custom tailored training program for each dog based on their personality. We never start off by asking your dog to perform any kind of task. We first start with developing a mutual relationship built on trust by using several different positive reinforcement methods. We actively use food and toys to engage with your dog and keep their attention. Our goal is to make your pup eager to work for us. We make each training session a fun play session; by playing games with dogs and using positive methods we keep both the dog and trainer happy. Our training program is designed to make dogs eager to please us and want to work for us. 
										</p>


										<blockquote class="hero-bg special-quote">
											<h4>Jonathan Fetcher</h4>
											<p class="small-text color-main">
												client
											</p>
											<p>
												From the moment we met the staff, we knew we found the right place.
											</p>
										</blockquote>


										<p>
											A common issue most dog trainers struggle to understand before applying any type of correction, is if the dog is confused or if they are blowing them off. It is not fair in any way to apply any amount of pressure to a dog that does not fully understand what it is being asked or told.
										</p>

										<p>
											Our team of trainers have over 20 years of combined experience and knowledge. We have worked with thousands of dogs and clients. We are without a doubt able to read and understand when a dog is confused or choosing to ignore us. With our training program we make sure every dog fully understands what they are being asked to do before applying any level of correction. Once a dog completely understands what is being asked of them, we use fair and consistent correction methods to prevent any disobedient behaviors.
										</p>

										<div class="row isotope-wrapper masonry-layout c-mb-10 c-gutter-10 mt-45 mb-30">
											<div class="col-md-4"><img src="images/dog14.jpg" alt="img"></div>
											<div class="col-md-4"><img src="images/dog13.jpg" alt="img"></div>
											<div class="col-md-4"><img src="images/dog15.jpg" alt="img"></div>
											<div class="col-md-4"><img src="images/dog16.jpg" alt="img"></div>
											<div class="col-md-4"><img src="images/dog17.jpg" alt="img"></div>
										</div>

										<p>
											With our training methods and philosophy we create a balance between reward and discipline; which is key in creating a confident, trustworthy and reliable dog. Our Training Program has 100% Guaranteed Results! We take great pride in providing premium dog training that changes lives and lasts a lifetime!
										</p>

									</div>
									<!-- .entry-content -->


								</div>
								<!-- .item-content -->
							</article>

							<nav class="navigation post-nav mt-0" role="navigation">
								<h2 class="screen-reader-text">Our Facility</h2>
								<div class="nav-links">
									<div class="nav-previous cover-image s-overlay ds">
										<div class="post-nav-image">
											<img src="images/dog18.jpg" alt="img">
										</div>
										<div class="post-nav-text-wrap">
											<span class="screen-reader-text">prev</span>
											<span aria-hidden="true" class="nav-subtitle color-main">Previous Post</span>

											<h5 class="nav-title">
												Learn more about our facility
											</h5>
										</div>
										<a href="/facility" rel="prev"></a>
									</div>
									<div class="nav-next cover-image s-overlay ds">
										<div class="post-nav-image">
											<img src="images/blog/13.jpg" alt="img">
										</div>
										<div class="post-nav-text-wrap">
											<span class="screen-reader-text">next</span>
											<span aria-hidden="true" class="nav-subtitle color-main">Contact Us</span>

											<h5 class="nav-title">
												Book your dog with us today
											</h5>
										</div>
										<a href="/contact" rel="next"></a>
									</div>
								</div>
							</nav>

							<div class="author-bio ds box-shadow side-item content-padding">
								<div class="row">
									<div class="col-xl-4 col-lg-6 col-md-6">
										<div class="item-media cover-image">
											<img src="images/raza400600.jpg" alt="img">
										</div>
									</div>

									<div class="col-xl-8 col-lg-6 col-md-6">
										<div class="item-content">
											<h4>Raza H. Zaidi</h4>
											<p class="mt-3 small-text text-uppercase text-left color-main">
												Owner and Training Director
											</p>
											<p>
												Raza has devoted his entire life and made it his mission to help improve the lives of dogs and owners around the world.
											</p>
											<div class="author-social">
												<a href="#" class="fa color-icon fa-google"></a>
												<a href="#" class="fa color-icon fa-facebook"></a>
												<a href="#" class="fa color-icon fa-instagram"></a>
											</div>
										</div>
									</div>
								</div>
							</div>


						</main>

						<aside class="col-lg-4 mb-0">

							<div class="widget widget_apsc_widget">
								<div class="apsc-icons-wrapper clearfix apsc-theme-4">
									<div class="apsc-each-profile">
										<a class="apsc-facebook-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="fa fa-facebook apsc-facebook"></i>
													<span class="media-name">Facebook</span>
												</span>
												<span class="apsc-count">10,500</span><span class="apsc-media-type"></span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-twitter-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="fa fa-twitter apsc-twitter"></i>
													<span class="media-name">Twitter</span>
												</span>
												<span class="apsc-count">572</span><span class="apsc-media-type"></span>
											</div>
										</a>
									</div>
									<div class="apsc-each-profile">
										<a class="apsc-google-plus-icon clearfix" href="#">
											<div class="apsc-inner-block">
												<span class="social-icon">
													<i class="apsc-google fa fa-google"></i>
													<span class="media-name">google+</span>
												</span>
												<span class="apsc-count">756</span><span class="apsc-media-type"></span>
											</div>
										</a>
									</div>
								</div>
							</div>

							{{!-- ADD BACK NEWSLETTER WHEN FINISHED CONNECTING IT UP --}}
							{{!-- <div class="box-shadow pb-40 px-40 pt-35">
								<div class="widget widget_mailchimp">

									<h3 class="widget-title">Newsletter</h3>
                                Subscribe to our newsletter to be updated on deals and promotions!
									<p>Hello</p>

									<form class="signup" action="/">
										<label for="mailchimp_email">
											<span class="screen-reader-text">Subscribe:</span>
										</label>

										<input id="mailchimp_email1" name="email" type="email" class="mailchimp_email form-control" placeholder="Email Addres">

										<button type="submit" class="search-submit">
											<span class="screen-reader-text">Subscribe</span>
										</button>
										<div class="response"></div>
									</form>

								</div>
							</div> --}}

						</aside>

					</div>

				</div>
			</section>

			<footer class="page_footer ds s-pb-35 s-pt-60 s-pb-md-70 s-pt-md-90 s-pb-xl-130 s-pt-xl-160 c-mb-20 c-gutter-30 container-px-0">

				<div class="container">
					<div class="row">
						<div class="col-lg-4 text-center text-lg-left animate" data-animation="fadeInUp">
							<div class="widget widget_twitter">
								<h3 class="widget-title">Twitter</h3>
								<div class="twitter-item">
									<div class="media">
										<div class="icon-styled color-main fs-18">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</div>
										<div class="media-body color_1">
											<p>
												Tamquam eligendi ex qui ex sea aliquam blandit has cum tacimates.
											</p>
											<a href="№">http://on.bcg.com/2enKlr7</a>
										</div>
									</div>
									<div class="media">
										<div class="icon-styled color-main fs-18">
											<i class="fa fa-twitter" aria-hidden="true"></i>
										</div>
										<div class="media-body color_1">
											<p>
												Tamquam eligendi ex qui ex sea aliquam blandit has cum tacimates.
											</p>
											<a href="№">http://on.bcg.com/2enKlr7</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-4 text-center text-lg-left animate" data-animation="fadeInUp">

							<div class="widget widget_icons_list">
								<h3 class="widget-title">Our Contact Info</h3>

								<ul class="mb-10">
									<li class="icon-inline">
										<div class="icon-styled icon-top color-main4 fs-14">
											<i class="fa fa-envelope"></i>
										</div>
										<a href="#">team@techmade.co</a>
									</li>
									<li class="icon-inline">
										<div class="icon-styled icon-top color-main4 fs-14">
											<i class="fa fa-phone"></i>
										</div>
										<p>(630) 407 7258</p>
									</li>
									<li class="icon-inline">
										<div class="icon-styled icon-top color-main4 fs-14">
											<i class="fa fa-clock-o"></i>
										</div>
										<p>Working hours: 7AM - 10PM </p>
									</li>
								</ul>

								<span class="social-icons">
									<a href="#" class="fa fa-twitter  rounded-icon color-bg-icon footer-icon" title="twitter"></a>
									<a href="#" class="fa fa-google  rounded-icon color-bg-icon footer-icon" title="google"></a>
									<a href="#" class="fa fa-facebook  rounded-icon color-bg-icon footer-icon" title="facebook"></a>
									<a href="#" class="fa fa-linkedin  rounded-icon color-bg-icon footer-icon" title="linkedin"></a>
								</span>
							</div>
						</div>

						<div class="col-lg-4 text-center text-lg-left animate" data-animation="fadeInUp">
							<div class="widget mb-0">

								<h3 class="widget-title">Newsletter</h3>

								<p class="color-font mb-3">
									Subscribe to our newsletter to be updated on deals and promotions!
								</p>

								<form class="signup" action="/">

									<input id="mailchimp_email" name="email" type="email" class="form-control mailchimp_email text-center text-lg-left" placeholder="Enter Email Address">

									<button type="submit" class="btn btn-maincolor mt-30">
										Subscribe
									</button>
									<div class="response"></div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</footer>

			<section class="page_copyright ds s-py-5">
				<div class="container border-top-color">
					<div class="row align-items-center ">
						<div class="divider-20 d-none d-lg-block"></div>
						<div class="divider-10 d-none d-md-block d-lg-none"></div>
						<div class="col-md-12 text-center">
							<p>&copy; Copyright <span class="copyright_year">2018</span> All Rights Reserved</p>
						</div>
						<div class="divider-20 d-none d-lg-block"></div>
						<div class="divider-10 d-none d-md-block d-lg-none"></div>
					</div>
				</div>
			</section>


		</div><!-- eof #box_wrapper -->
	</div><!-- eof #canvas -->


	<script src="js/compressed.js"></script>
	<script src="js/main.js"></script>


</body>

</html>